aiohttp==3.9.5
aiosqlite==0.21.0
aiotrivia==2.0.1
akinator==1.1.1
animec==0.4.2
async_timeout==4.0.3
cogwatch==3.3.1
discord.py==2.4.0
discordbotdash==1.2.3
ffmpeg==1.4
googletrans==3.0.0
Pillow==11.2.1
praw==7.7.1
python-dotenv==1.1.0
pytz==2024.1
randfacts==0.21.0
Requests==2.32.3
sr_api==1.1.3
yt_dlp==2025.4.30
